*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html{
	font-size: 62.5%;
	background: #EBEBEB;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
      header{
      	width: 100%;
      	background: #E64C7E;
      	padding-top: 10px;padding-bottom: 10px;
      }
      header >div{
      	width: 94%;
      	margin:0 auto;
      }
      header >div a{
			display: flex;
			align-items: center;      	
      }
      header >div a i{
      	font-size: 20px;
      	color: white;
      }
      header div a p{
      	font-size: 17px;
      	margin-left: 4px;
      	color: white;
      }
      article{
      	width:100% ;
      }
	#top{
		width: 100%;
		background: white;
		padding-bottom: 20px;
	}
	#top >div:first-of-type{
		text-align:right;
		box-sizing: border-box;
		padding-top: 15px;
		padding-right: 11px;
		padding-bottom: 11.5px;
	}
	#top >div:first-of-type a{
		font-size: 14px;
		color: #ee3434;
	}
	#top >div:nth-of-type(2){
		width:100% ;
		text-align: center;
		padding-top: 18px;
	}
	#top >div:nth-of-type(2) >p:first-child{
		font-size: 30px;color: #feb000;
	}
	#top >div:nth-of-type(2) >p:first-child::first-letter{
		font-size: 18px;color: #feb000;
	}
	#top >div:nth-of-type(2) >p:last-child{
		font-size:14px;color: #787878;
	}
	#cont{
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding-top: 10px;
	}
	.lis{
		width: 46%;
		background: #fff;
		border-radius: 5px;
		display: flex;
		box-sizing: border-box;
		padding: 17px 20px;
		box-shadow: 0px 0px 10px #ebe9f1;
	}
	.lis img{
		width: 52px;
		height: 69px;
	}
	.lis div{
		width: 70%;
		text-align: center;
	}
	.lis div >p:first-of-type{
		font-size: 11px;
		color: #656565;
	}
	.lis div >p:last-of-type{
		font-size:31px;
		margin-top: 5px;
	}
	#bot{
		width: 100%;
		background: white;
		margin-top: 10px;
	}
	#ul1{
		width: 94%;
		margin: 0 auto;
	}
	#ul1 >li{
		width: 100%;
		display: flex;
		border-bottom: 1px solid #EBEBEB;
		padding-top: 24px;
	}
	#ul1 >li p:first-of-type{
		font-size:14px ;
		color: #656565;
	}
	#ul1 >li input{
		width: 60%;
		border: none;
		outline: none;
		margin-left: 30px;
		color: #989898;
	}
	#ul2{
		width: 94%;
		margin: 0 auto;
		padding-top: 22px;
	}
	#ul2 li{
		width: 100%;
		padding-bottom: 12px;
		line-height: 24px;
		color: #989898;
		font-size: 11px;
	}
	footer{
		width: 100%;
		background: white;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	footer button{
		width: 84%;
		height: 43px;
		margin-left:8% ;
		background: #E64C7E;
		color: white;
		border: none;
		border-radius: 50px;
	}
}

