*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	
}
html{
	font-size: 62.5%;
}
@media only screen and (min-width: 320px) and (max-width:768px) {
    header{
    	width: 100%;
    	background: #E64C7E;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	
    }
    header div {
    	font-size: 94%;
    	margin: 0 auto;
    }
    header div >a{
    	display: flex;
    	align-items: center;
    }
    header div >a >i{
    	font-size: 21px;
    	color: white;
    }
    header div >a p{
    	font-size: 17px;
    	color: white;
    }
    article{
    	width: 100%;
    }
    article >ul{
    	width: 94%;
    	margin: 0 auto;
    }
    article >ul >li{
    	display: flex;
    	justify-content: space-between;
    	border-bottom: 1px solid #EBEBEB;
    	padding-top: 15px;
    	padding-bottom: 15px;
    }
     article >ul >li a{
     	color: #656565;
     }
    
}
